body {
  /* background-image: url(https://i.pinimg.com/originals/2a/b1/c3/2ab1c37cfdff720c6de2ddb07328f145.jpg); */
  background-color: beige;
}
.container {
  width: 90%;
  margin: 0 auto;
}
header {
  background-color: lightgreen;
  text-align: center;
}
.header-container {
  display: flex;
  align-items: center;
  background-color: lightgreen;
  text-align: left;
  justify-content: space-between;
  padding: 1rem 0;
}
h1 {
  font-family: Delicious Handrawn;
  color: red;
  font-size: 5rem;
}
li {
  list-style: none;
  background-color: white;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 10px;
  margin: 0 10px;
  transition: 0.5s;
}
li:hover {
  color: red;
}
nav {
  font-size: 3rem;
}
div.cat-pics {
  display: flex;
  justify-content: space-between;
}
.catpicandcaption {
  margin: 10px;
}
p.catpiccaption {
  background-color: darkgreen;
  color: pink;
  padding: 5px;
}
.topelements {
  display: flex;
}
h3 {
  text-align: center;
  background-color: green;
}
div.reviews {
  display: flex;
  justify-content: space-between;
}
p.review {
  background-color: antiquewhite;
}
footer {
  text-align: center;
}
#personal-greeting {
  font-weight: 900;
  font-size: 2rem;
  background-color: lightgreen;
  text-align: center;
  padding-bottom: 1rem;
}
.angry-cat-section {
  display: flex;
  justify-content: center;
}
.angrycat {
  height: 5rem;
  width: 5rem;
}
.button-area {
  display: flex;
  justify-content: center;
}
